<div class="hehe">
    <h3 style="text-align: center">Quản lí Yêu Cầu Thuê Nhà</h3>
    <table class="table" *ngIf="rooms">
        <thead>
            <tr>
                <th>Số TT</th>
                <th>Id</th>
                <th>Tên Đề Tin</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Ngày Đăng Tin</th>
                <th>Người gửi yêu cầu</th>
                <th>Trạng Thái</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms;let i = index"
                (click)="layuserthuenha(room, room._id, xemnguoiyeucauthueModal)">
                <td>{{i}}</td>
                <td>{{room._id}}</td>
                <td>{{room.title}}</td>
                <td>
                    <img class="image" src="{{room.image}}" alt="">
                </td>
                <td>{{room.price}} {{room.unit}}</td>
                <td>{{room.createDate | date: 'dd/MM/yyyy'}}</td>
                <td><button class="soluongguiyeucau" type="button">{{room.soluongguiyeucau}}</button>
                </td>
                <td>
                    <div *ngIf="room.dabannha" class="daban"> Đã Thuê</div>
                    <div *ngIf="!room.dabannha" class="chuaban"> Chưa Thuê</div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<!-- model xóa -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn Có Chắn Chắn Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Số TT</th>
                        <th>Tên Đề Tin</th>
                        <th>Hình ảnh</th>
                        <th>Giá</th>
                        <th>Số tiền gửi cho admin</th>
                        <th>Số người gửi yêu cầu thuê nhà</th>
                        <th>Số người đồng ý cho thuê</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms;let i = index" data-toggle="modal"
                        data-target="#xemnguoiyeucauthueModal" (click)="getRoom(room)">
                        <td>{{i}}</td>
                        <td>{{room.title}}</td>
                        <td>
                            <img class="image" src="{{room.image}}" alt="">
                        </td>
                        <td>{{room.price}} {{room.unit}}</td>
                        <td>{{room.price * 0.2}}</td>
                        <td>{{room.price}} {{room.unit}}</td>
                        <!-- <td><button class="soluongguiyeucau" type="button" (click)="getRoom(room)"
                                class="btn btn-warning" data-toggle="modal"
                                data-target="#xemnguoiyeucauthueModal">{{room.soluongguiyeucau}}</button></td> -->
                    </tr>

                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRoom()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- model xóa -->
<ng-template #xemnguoiyeucauthueModal class="modal-view-attachment">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Yêu Cầu Thuê Nhà</h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Số TT</th>
                <th>Họ Và Tên</th>
                <th>Số điện thoại</th>
                <th>Note</th>
                <th>Hình ảnh</th>
                <th>Trạng Thái</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of listuserthuenha;let i = index">
                <td>{{i}}</td>
                <td>{{user.tennguoigui}}</td>
                <td>{{user.sodienthoai}}</td>
                <td>{{user.note}}</td>
                <td><img class="image" src="https://cuongpham.herokuapp.com/image/{{user.hinhchungminhnhandan}}" alt=""></td>
                <td>
                    <select 
                        [(ngModel)]="user.trangthai" [disabled]="chapnhanthuenha.status" (ngModelChange)="onChange($event, user._id)"
                        class="form-control" id="sel1">
                        <option *ngFor="let item of listStatus" [value]="item.value">{{item.name}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Thoát</button>
    </div>
</ng-template>