<div id="login-box">
    <div class="left">
        <h1>Sign up</h1>

        <input type="text"[(ngModel)]="username" name="username" placeholder="Username"  />
        <input type="text" [(ngModel)]="email" name="email" placeholder="E-mail" />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
        <input type="password" [(ngModel)]="password1" placeholder="Retype password" />

        <input type="submit" (click)=" register()"name="signup_submit" value="Sign me up" />
    </div>

    <div class="right">
        <span class="loginwith">Sign in with
            <br />social network</span>

        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
</div>