// LOGO
#logo{
    height: 120px;
    line-height: 120px;
    .logo_tet{
        width: 252px;
        height: 94px;
    }
    .logo_quangcao{
        margin-left: 50px;
    }
}
img{
    cursor: pointer;
}