<!-- VUNG DANG NHAP -->
<app-headerclient></app-headerclient>

<!-- VUNNG LOGO -->
<div id="logo">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="logo_tet" [routerLink]="['/client']"
                    src="http://pherbs.com.vn/template/default/images/logo.png" alt="">
            </div>
            <div class="col-md-2">
                <img  height="100px;" src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.0-9/60319615_1230712707092832_2298822588815638528_n.jpg?_nc_cat=101&_nc_oc=AQnfKowX1wGUzS-iok-_35iEo-RmHPxRQKyJmhyRS1xSk2LyGwSSW_erKlMoGTnVhGyA1JnVh2OkEy0Lgkg_qFWt&_nc_ht=scontent.fsgn2-4.fna&oh=bc8fcee71465cb0f262d568962d91da2&oe=5D72144D" alt="">
            </div>
            <div class="col-md-6" style="height: 100px;text-align: center; color: red;margin-top: -32px;">
                <p style="height: 15px;font-size: 22px; font-weight: bold;">Báo Cáo Tốt Nghiệp</p>
                <p style="height: 15px;font-weight: bold;">Xây dựng ứng dụng web thuê nhà theo mô hình kinh tế chia sẻ</p>
                <p style="height: 15px;font-weight: bold;"> <i>Sinh Viên Thực Hiện: Phạm Thị Cương</i> </p>
                <p style="height: 15px;font-weight: bold;"> <i>Giáo Viên Hướng Dẫn: TS. Bùi Thanh Hùng</i> </p>
            </div>
        </div>


    </div>
</div>

<!-- VÙNG MENU -->
<app-menuclient></app-menuclient>

<router-outlet></router-outlet>

<app-footerclient></app-footerclient>