<div class="container">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-user"></i>
                Thông tin cá nhân
            </ng-template>
            <app-infouser></app-infouser>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-list-alt"></i>
                Quản lý tin
            </ng-template>
            <app-baidang></app-baidang>
        </mat-tab>

        <!-- <mat-tab>
            <ng-template mat-tab-label>
                <i class="fa fa-plus"></i>
                Đăng tin
            </ng-template>

            Content 3
        </mat-tab> -->
    </mat-tab-group>
</div>


