<div class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu" *ngIf="checksupperadmin == 'supperadmin'">
                <a [routerLink]="['/admin']" href="javascript:void(0);">
                    <i class="fa fa-user"></i>
                    <span>Quản Lý Bài Đăng</span>
                </a>
            </li>
            <li class="sub-menu">
                <a [routerLink]="['baidang']" href="javascript:void(0);">
                    <i class="fa fa-table"></i>
                    <span>Bài Đăng</span>
                </a>
                <ul>
                </ul>
            </li>
            <li class="sub-menu" *ngIf="checksupperadmin == 'supperadmin'">
                <a [routerLink]="['home']" href="javascript:void(0);">
                    <i class="fa fa-table"></i>
                    <span>Quản Lý Tài Khoản</span>
                </a>
                <ul>
                </ul>
            </li>
            <li class="sub-menu" *ngIf="checksupperadmin == 'supperadmin'">
                <a [routerLink]="['kiemduyetbaidang']" href="javascript:void(0);">
                    <i class="fa fa-table"></i>
                    <span>Kiểm Duyệt Bài Đăng</span>
                </a>
                <ul>
                </ul>
            </li>
            <li class="sub-menu" *ngIf="checksupperadmin == 'admin' || checksupperadmin == 'user'">
                <a [routerLink]="['lichsu']" href="javascript:void(0);">
                    <i class="fa fa-table"></i>
                    <span>Lịch sử thuê nhà</span>
                </a>
                <ul>
                </ul>
            </li>
            <li class="sub-menu" *ngIf="checksupperadmin == 'admin' || checksupperadmin == 'user'">
                <a [routerLink]="['quanlynguoithuenha']" href="javascript:void(0);">
                    <i class="fa fa-table"></i>
                    <span>Quản lý người thuê nhà</span>
                </a>
                <ul>
                </ul>
            </li>
            <li class="sub-menu">
                <a [routerLink]="['quanlyhoahong']" href="javascript:void(0);">
                    <i class="fa fa-table"></i>
                    <span>Quản lý hoa hồng</span>
                </a>
                <ul>
                </ul>
            </li>
            <li class="sub-menu">
                <a [routerLink]="['contact']" href="javascript:void(0);">
                    <i class="fa fa-table"></i>
                    <span>Liên hệ</span>
                </a>
                <ul>
                </ul>
            </li>
        </ul>
    </div>
</div>