<div class="hehe">
  <h3 style="text-align: center">Quản lí Bài Đăng</h3>
<table class="table">
  <thead>
    <tr>
      <th>Số TT</th>
      <th>Tên Đề Tin</th>
      <th>Số Điện Thoại</th>
      <th>Diện tích</th>
      <th>Đối tượng cho thuê</th>
      <th>Giá</th>
      <th>Xóa</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let room of rooms">
      <td>{{room.stt}}</td>
      <td>{{room.title}}</td>
      <td>{{room.phone}}</td>
      <td>{{room.acreage}} m2</td>
      <td>{{room.sex}}</td>
      <td>{{room.price}} {{room.unit}}</td>
      <td><button type="button" (click)="getRoom(room)" class="btn btn-warning" data-toggle="modal" data-target="#deleteModal" >Xóa</button></td>
      <!-- <td><a href="javascript:void(0)" (click)="trash()" (click)="getRoom(element)" >
        <i class="fa fa-trash" data-toggle="modal" data-target="#deleteModal"></i>
    </a></td> -->
    </tr>
  
  </tbody>
</table>
</div>
<!-- delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Bạn Có Chắn Chắn Xóa</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRoom()"> Xóa</button>
          </div>
      </div>
  </div>
</div>