<div *ngIf="checksupperadmin == 'supperadmin'" class="hehe">
    <h3 style="text-align: center">Quản lí hoa hồng</h3>
    <table class="table" *ngIf="rooms">
        <thead>
            <tr>
                <th>Số TT</th>
                <th>Tên Đề Tin</th>
                <th>id Tin</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Ngày Đăng Tin</th>
                <th>Số tiền hoa hồng phải trả</th>
                <th>Trạng Thái Thanh Toán</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms;let i = index">
                <td>{{i}}</td>
                <td>{{room.idhouse.title}}</td>
                <td>{{room.idhouse._id}}</td>
                <td>
                    <img class="image" src="{{room.idhouse.image}}" alt="">
                </td>
                <td>{{room.idhouse.price}} {{room.idhouse.unit}}</td>
                <td>{{room.idhouse.createDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{room.sotienhoahongphaitra}}</td>
                <td>
                  <img (click)="thaydoitrangthanh(true, room.idhouse._id, room.iduser)" *ngIf="!room.status" src="assets/image/cancel.png" alt="">
                  <img (click)="thaydoitrangthanh(false, room.idhouse._id, room.iduser)" *ngIf="room.status" src="assets/image/tick.png" alt="">
                </td>
            </tr>
        </tbody>
    </table>
</div>



<div *ngIf="checksupperadmin == 'admin' || checksupperadmin == 'user' " class="hehe">
    <h3 style="text-align: center">Quản lí hoa hồng</h3>
    <table class="table" *ngIf="rooms">
        <thead>
            <tr>
                <th>Số TT</th>
                <th>Tên Đề Tin</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Ngày Đăng Tin</th>
                <th>Số tiền hoa hồng phải trả</th>
                <th>Trạng Thái Thanh Toán</th>
                <th>Mã gửi tiền khi thanh toán</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms;let i = index">
                <td>{{i}}</td>
                <td>{{room.idhouse.title}}</td>
                <td>
                    <img class="image" src="{{room.image}}" alt="">
                </td>
                <td>{{room.idhouse.price}} {{room.idhouse.unit}}</td>
                <td>{{room.idhouse.createDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{room.sotienhoahongphaitra}}</td>
                <td>
                  <img  *ngIf="!room.status" src="assets/image/cancel.png" alt="">
                  <img  *ngIf="room.status" src="assets/image/tick.png" alt="">
                </td>
                <td>
                  {{room.idhouse._id}}
                </td>
            </tr>

        </tbody>
    </table>
</div>
